/* Thiết lập nền cho toàn bộ thanh Navbar */
.navbar__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 9999;
  background-color: #000000; /* Nền đen */
}

/* Container chính của Navbar (sử dụng Flexbox để căn chỉnh) */
.navbar__container {
  display: flex;
  justify-content: space-between; /* Căn Logo, Links và Button ra hai bên */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin: 0 auto;
  padding: 0 58px;
  height: 72px; /* Chiều cao cố định của thanh navbar */
}

/* 1. Logo (ABOVE) */
.navbar__logo {
  padding: 0 8px;
  height: 72px;
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 100%;
  max-width: 124px;
}

/* 2. Các liên kết (Links Left) */
.navbar__links-left {
  list-style: none; /* Bỏ dấu chấm */
  display: flex;
  gap: 30px; /* Khoảng cách giữa các liên kết */
  padding: 0;
  margin: 0;
}

.navbar__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 8px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: opacity 0.3s;
}

.navbar__link:hover {
  color: #52b788;
}

/* 3. Nút hành động (BUY NOW) */
.navbar__button-right {
  border: 1px solid #52b788;
  background-color: #52b788;
  border-radius: unset;
  color: black;
  text-transform: uppercase;
  min-height: 2.5em;
  padding: .8125em 2em;
  font-size: 8px;
  transition: all .2s;
}

.navbar__button-right:hover {
  color: #52b788;
  background-color: black;
}

/* Đảm bảo các liên kết và nút không bị logo che khuất */
/* Trong cấu trúc này, logo có position: absolute, nên không ảnh hưởng đến flow của links và button. */

@media (max-width: 768px) {
  .navbar__container {
    padding: 0 30px;
  }

  .navbar__button-right {
    padding-left: 8px;
    padding-right: 8px;
    text-wrap: nowrap;
  }
}